<p style="color: green"><%= notice %></p>

<h1>Precos</h1>

<div id="precos">
  <% @precos.each do |preco| %>
    <%= render preco %>
    <p>
      <%= link_to "Show this preco", preco %>
    </p>
  <% end %>
</div>

<%= link_to "New preco", new_preco_path %>
