<div style="display: flex; align-items: center;">
  <h1 style="margin-right: 10px;">Preços</h1>
  <%= link_to "Novo preço", new_preco_path, class: "btn4" %>
</div>

<div id="precos">
  <% @precos.each do |preco| %>
    <%= render preco %>
  <% end %>
</div>


