

<%= render @preco %>

<div>
  <%= link_to "Edit this preco", edit_preco_path(@preco) %> |
  <%= link_to "Back to precos", precos_path %>

  <%= button_to "Destroy this preco", @preco, method: :delete %>
</div>
