<div id="<%= dom_id estacionamento %>">
  <p>
    <strong>Veiculo:</strong>
    <%= estacionamento.veiculo_id %>
  </p>

  <p>
    <strong>Vaga:</strong>
    <%= estacionamento.vaga_id %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= estacionamento.preco_id %>
  </p>

</div>
