<h1>Editing estacionamento</h1>

<%= render "form", estacionamento: @estacionamento %>

<br>

<div>
  <%= link_to "Show this estacionamento", @estacionamento %> |
  <%= link_to "Back to estacionamentos", estacionamentos_path %>
</div>
