<p style="color: green"><%= notice %></p>

<h1>Estacionamentos</h1>

<div id="estacionamentos">
  <% @estacionamentos.each do |estacionamento| %>
    <%= render estacionamento %>
    <p>
      <%= link_to "Show this estacionamento", estacionamento %>
    </p>
  <% end %>
</div>

<%= link_to "New estacionamento", new_estacionamento_path %>
