<div id="<%= dom_id aluguel %>">
  <p>
    <strong>Estacionamento:</strong>
    <%= aluguel.estacionamento_id %>
  </p>

  <p>
    <strong>Hora saida:</strong>
    <%= aluguel.hora_saida %>
  </p>

  <p>
    <strong>Preco final:</strong>
    <%= aluguel.preco_final %>
  </p>

</div>
