@import "bootstrap";

html, body{
    height: 100%;
}

.bg {
    background-image: url(../../assets/images/bg.jpg);
    background-position: center;
    background-size: cover;
}

.mycolor {
    background-color: #AAF
}

main{
    opacity: 0.98;
}

.bluecolor{
    background-color: #6495ED;
    color: white;
}