<p style="color: green"><%= notice %></p>

<div style="display: flex; align-items: center;">
  <h1 style="margin-right: 10px;">Vagas</h1>
  <%= link_to "Nova vaga", new_vaga_path, class: "btn4" %>
</div>

<div id="vagas">
  <% @vagas.each do |vaga| %>
    <%= render vaga %>
  <% end %>
</div>
